<div>
    <h2 id="page-heading">
        <span>SLA Violations</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sla-violation" hidden=true [routerLink]="['/sla-violation/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new SLA Violation
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="slaViolations?.length === 0">
        <span>No slaViolations found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="slaViolations && slaViolations.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="timestamp"><span>Timestamp</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="violationName"><span>Violation Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="severityType"><span>Severity Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span>Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span>Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="sla.id"><span>SLA</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let slaViolation of slaViolations ;trackBy: trackId">
                    <td><a [routerLink]="['/sla-violation', slaViolation.id, 'view']">{{ slaViolation.id }}</a></td>
                    <td>{{ slaViolation.timestamp | date:'medium' }}</td>
                    <td>{{ slaViolation.violationName }}</td>
                    <td>{{ slaViolation.severityType }}</td>
                    <td>{{ slaViolation.description }}</td>
                    <td>{{ slaViolation.status }}</td>
                    <td>
                        <div *ngIf="slaViolation.sla">
                            <a [routerLink]="['/sla', slaViolation.sla?.id, 'view']" >{{ slaViolation.sla?.name }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/sla-violation', slaViolation.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/sla-violation', slaViolation.id, 'edit']" hidden=true
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(slaViolation)"  hidden=true
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="slaViolations && slaViolations.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
