<div>
    <h2 id="page-heading">
        <span>Events</span>

        <button hidden="true" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-event" [routerLink]="['/event/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Event
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="events?.length === 0">
        <span>No events found</span>
    </div>

	<div class="form-group" align=right>
        <label>Filter by severity</label>
        <select [(ngModel)]="severityFilter" name="severityFilter" id="field_severityFilter">
            <option value=""></option>
            <option value="info">info</option>
            <option value="warning">warning</option>
            <option value="error">error</option>
        </select>

        <button (click)="reload()" id="jh-filter-entity" class="btn btn-primary btn-sm float-right jh-filter-entity filter-event">
            <span>
            Filter
            </span>
        </button> 
    </div>

    <div class="table-responsive" id="entities" *ngIf="events && events.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="timestamp"><span>Timestamp</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="severity"><span>Severity</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="category"><span>Category</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="details"><span>Details</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="serviceProvider.id"><span>Service Provider</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let event of events ;trackBy: trackId">
                    <td><a [routerLink]="['/event', event.id, 'view']">{{ event.id }}</a></td>
                    <td>{{ event.timestamp | date:'medium' }}</td>
                    <td>{{ event.severity }}</td>
                    <td>{{ event.category }}</td>
                    <td>{{ event.details }}</td>
                    <td>
                        <div *ngIf="event.serviceProvider">
                            <a [routerLink]="['/service-provider', event.serviceProvider?.id, 'view']" >{{ event.serviceProvider?.name }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/event', event.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button hidden="true" type="submit"
                                    [routerLink]="['/event', event.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(event)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="events && events.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
