<div>
    <h2 id="page-heading">
        <span>Guarantees</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-guarantee" [routerLink]="['/guarantee/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Guarantee
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="guarantees?.length === 0">
        <span>No guarantees found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="guarantees && guarantees.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span>Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="thresholdWarning"><span>Threshold Warning</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="thresholdMild"><span>Threshold Mild</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="thresholdSerious"><span>Threshold Serious</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="thresholdSevere"><span>Threshold Severe</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="thresholdCatastrophic"><span>Threshold Catastrophic</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="sla.id"><span>SLA</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="constraint"><span>Constraint</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let guarantee of guarantees ;trackBy: trackId">
                    <td><a [routerLink]="['/guarantee', guarantee.id, 'view']">{{ guarantee.id }}</a></td>
                    <td>{{ guarantee.name }}</td>
                    <td>{{ guarantee.thresholdWarning }}</td>
                    <td>{{ guarantee.thresholdMild }}</td>
                    <td>{{ guarantee.thresholdSerious }}</td>
                    <td>{{ guarantee.thresholdSevere }}</td>
                    <td>{{ guarantee.thresholdCatastrophic }}</td>
                    <td>
                        <div *ngIf="guarantee.sla">
                            <a [routerLink]="['/sla', guarantee.sla?.id, 'view']" >{{ guarantee.sla?.name }}</a>
                        </div>
                    </td>
                    <td>{{ guarantee.constraint }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/guarantee', guarantee.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/guarantee', guarantee.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(guarantee)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="guarantees && guarantees.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
