<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-service-provider-heading">Create or edit a Service Provider</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input required type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_organisation">Organisation</label>
                    <input type="text" class="form-control" name="organisation" id="field_organisation"
                           formControlName="organisation"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_preferences">Preferences</label>
                    <textarea rows="10" cols="80" class="form-control" name="preferences" id="field_preferences"
                           formControlName="preferences"></textarea>
                    <div *ngIf="editForm.get('preferences')!.invalid && (editForm.get('preferences')!.dirty || editForm.get('preferences')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('preferences')?.errors?.maxlength">
                        This field cannot be longer than 20000 characters.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
