<div>
    <h2 id="page-heading">
        <span>Service Providers</span>

        <button hidden="true" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-service-provider" [routerLink]="['/service-provider/new']" *jhiHasAnyAuthority="['ROLE_ADMIN']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Service Provider
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="serviceProviders?.length === 0">
        <span>No serviceProviders found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="serviceProviders && serviceProviders.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span>Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="organisation"><span>Organisation</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="preferences"><span>Preferences</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let serviceProvider of serviceProviders ;trackBy: trackId">
                    <td><a [routerLink]="['/service-provider', serviceProvider.id, 'view']">{{ serviceProvider.id }}</a></td>
                    <td>{{ serviceProvider.name }}</td>
                    <td>{{ serviceProvider.organisation }}</td>
                    <td>click View/Edit</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/service-provider', serviceProvider.id, 'view']"
                                    class="btn btn-info btn-sm" *jhiHasAnyAuthority="['ROLE_SP']">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit" 
                                    [routerLink]="['/service-provider', serviceProvider.id, 'edit']" 
                                    class="btn btn-primary btn-sm"  *jhiHasAnyAuthority="['ROLE_SP']">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button hidden="true" type="submit" (click)="delete(serviceProvider)" 
                                    class="btn btn-danger btn-sm" >
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="serviceProviders && serviceProviders.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
