<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-service-optimisation-heading">Create or edit a Service Optimisation</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group" [hidden]="!editForm.get('service')!.value">
                    <label required class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name" [defaultValue]="'opt_'+editForm.get('service')!.value?.name" disabled=true/>
                </div>

				<div class="form-group" [hidden]="editForm.get('id')!.value">
                    <label class="form-control-label" for="field_service">Service</label>
                    <select class="form-control" id="field_service" name="service" formControlName="service" required=true>
                        <option [ngValue]="null"></option>
                        <option [ngValue]="serviceOption.id === editForm.get('service')!.value?.id ? editForm.get('service')!.value : serviceOption" *ngFor="let serviceOption of services; trackBy: trackById">{{ serviceOption.name }}</option>
                    </select>
                </div>
                
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label class="form-control-label" for="field_service">Service</label>
                    <input type="text" class="form-control" id="field_service" name="service" [defaultValue]="editForm.get('service')!.value?.name" disabled=true/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_optimisation">Optimisation</label>
                    <select class="form-control" name="optimisation" id="field_type" formControlName="optimisation" required="true">
					      <option value="resources">scaling</option>
					      <option value="resources">offloading</option>
					      <option value="resources">resources</option>
					      <option value="latency">latency</option>
					      <option value="resources_latency">resources_latency</option>
					      <option value="resources_latency">latency_faredge</option>
					      <option value="webhook">webhook</option>
					</select>
                </div>

                <div class="form-group" [hidden]="editForm.get('optimisation')?.value != 'webhook'">
                    <label class="form-control-label" for="field_parameters">Get URL (eg. webhook.site)</label>
                    <input type="text" class="form-control" name="parameters" id="field_parameters"
                           formControlName="parameters"/>
                </div>

                
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
