<div>
    <h2 id="page-heading">
        <span>SLA list</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sla" [routerLink]="['/sla/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new SLA
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="slas?.length === 0">
        <span>No SLA found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="slas && slas.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span>Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="type"><span>DSS Resource management</span> <fa-icon icon="sort"></fa-icon></th>
                    <th hidden="true" scope="col"  jhiSortBy="creation"><span>Creation</span> <fa-icon icon="sort"></fa-icon></th>
                    <th hidden="true" scope="col"  jhiSortBy="expiration"><span>Expiration</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="service.id"><span>Service</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="infrastructureProvider.id"><span>Infrastructure Provider</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="serviceProvider.id"><span>Service Provider</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let sla of slas ;trackBy: trackId">
                    <td><a [routerLink]="['/sla', sla.id, 'view']">{{ sla.id }}</a></td>
                    <td>{{ sla.name }}</td>
                    <td>{{ sla.type }}</td>
                    <td hidden="true">{{ sla.creation | date:'medium' }}</td>
                    <td hidden="true">{{ sla.expiration | date:'medium' }}</td>
                    <td>
                        <div *ngIf="sla.service">
                            <a [routerLink]="['/service', sla.service?.id, 'view']" >{{ sla.service?.name }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="sla.infrastructureProvider">
                            <a [routerLink]="['/infrastructure-provider', sla.infrastructureProvider?.id, 'view']" >{{ sla.infrastructureProvider?.name }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="sla.serviceProvider">
                            <a [routerLink]="['/service-provider', sla.serviceProvider?.id, 'view']" >{{ sla.serviceProvider?.name }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/sla', sla.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/sla', sla.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(sla)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="slas && slas.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
